/**
========================================================
    CATEGORY
========================================================
*/

#box-category {
    background: none repeat scroll 0 0 #fff;
    height: auto;
    width: 100%;
    float: left;
}

#barra-lateral {
    float: left;
    margin: 5px 0 0 5px;
    width: 97%;
}
#barra-lateral .titulo {
    background: none repeat scroll 0 0 #eeeeee;
    line-height: 300%;
    padding: 0 20px;
    float: left;
    width: 98%;
    font-size:16px;
    font-weight:bold;
}
#barra-lateral li {
    list-style: none;
    line-height: 25px;
}
.menu-category {
    float: left;
    padding: 0;
    width: 100%;
    margin-bottom: 0;
    list-style:none;
}
.menu-category label {
    font-size: 14px; 
    color: #555;
    font-weight:normal;
}
