@media only screen and (max-width: 992px) {

    .container {
        min-width: 850px;
    }

    #header label.indie {
        font-size: 30px;
        padding-top: 10px;
    }

    #header .logo {
        height: 60px;
    }


    #header .login label {
        padding-top: 25px;
    }
}