/**
========================================================
    PRODUCT
========================================================
*/

.product-image img{
    margin: 0 auto;
}

.buy-button:hover, .buy-button:active {
    text-align: center;
    background-color: #FFD600;
}

